// Your styles go here
@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

.container {
    max-width: 90%;
    margin: 10px auto;
    display: flex;
    flex-flow: column nowrap;

    .pull-content-right{
        display: flex;
        justify-content: flex-end;
    }

    nav {
        display: flex;
        background: maroon;
        color: white;

        ul {
            display: flex;
            flex: 1;
            list-style: none;
            padding: 0px;
            padding-top: 10px;

            & > li {
                margin: 0px;
                padding: 0px 10px;
                a {
                    text-decoration: none;
                    color: white;
                }
            }

            &:first-child {
                flex: 1;
            }
        }
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        & > .card {
            width: 30%;
            border: 1px solid #eee;
            padding: 10px;
            margin: 10px;

            img {
                width: 100%;
            }

            .extra {
                list-style: none;
                display: flex;
                flex-flow: row wrap;
                padding: 10px 0px;
                justify-content: center;
                align-items: center;

                & > li:not(:first-child) {
                    padding-left: 20px;
                }

            }
        }
    }
}

button.primary {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: maroon;
    color: white;
}

footer {
    background: black;
    color: white;
    padding: 20px 0 50px 20px;
}

form {
    width: 90%;
    .field {
        display: flex;

        & label {
            width: 15%;
            padding: 5px;
            font-weight: bold;
        }

        & .control {
            width: 85%;

            input, textarea {
                padding: 10px;
                border: 1px solid #eee;
                border-radius: 3px;
                width: 60%;
            }

            p {
                margin: 5px 0;
                font-size: 10px;
                color: red;
            }
        }
    }
}